# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env*.local
.env

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Large files
MTP.zip
*.pdf

brain/
conversations/
.gemini/
